*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.title h1{
    display:flex;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.GenreTitles img{
    display: grid;
    height: 100%;
    width: 100%;
}
.GenreTitles img{
    display: flex;
    justify-content: center;
}
.genre {
    margin: 40px;
}
.genre img{
    height: 360px;
    width: 500px;
}
.review-start{
    padding-top: 50px;
    padding-left: 600px;
    padding-right: 600px;
}

h2{
    margin-top: 20px;
}
body{
    margin: 50px;
    padding: 50px;
}
a{
    display: block;
    width: fit-content;
    margin-top: 20px;
}
.container ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.genre-links img{
    max-height: 250px;
    max-width: 350px;
}

.container h1{
    display: flex;
    justify-content: center;   
}
.container h2{
    display: flex;
    justify-content: center;
}
.genrecontainer .tvshow-titles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
    padding: 0px;
}

.genre-reviews-link img{
    max-height: 375px;
    max-width: 300px;
}

.movie-titles img{
    display: flex;
    justify-content: center;
}

.review-title h1{
    display:flex;
    justify-content: left;
    justify-items: left;
    margin-top: 10px;
    margin-bottom: 40px;
}
.review-title {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 100px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: flex;
    justify-content: flex-end;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.one-hashtag-list{
    padding-top: 50px;
}

.all-hashtag-list{
    padding-top: 50px;
}

.hashtags-hashtag {
    display: flex;
    justify-content: center;
}

.hashtags-hashtag a{
    margin: 0px;
    padding: 0px;
}

.hashtag-form{
    margin-top: 50px;
}







