*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}

.title h1{
    display:flex;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.GenreTitles img{
display: grid;

height: 100%;
width: 100%;

}
.GenreTitles img{
    display: flex;
    justify-content: center;
    
}
.comedy {
    margin: 40px;
}
.comedy img{
    height: 360px;
    width: 500px;
}
.Horror{
    margin:40px;
}
.Horror img{
    height: 360px;
    width: 500px;
}
h2{
    margin-top: 20px;
}
body{
    margin: 50px;
    padding: 50px;

}
.TvShowcontainer p{
/* width: auto; */
}
a{
    display: block;
    width: fit-content;
    margin-top: 20px;
}
.container ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}




.container h1{
    display: flex;
    justify-content: center;
    
}
.container h2{
    display: flex;
    justify-content: center;

}
.genrecontainer .movie-titles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
    padding: 0px;
}
.movie-titles img{
    display: flex;
    justify-content: center;
}
.home-link ul {
    display: flex;
    justify-content: flex-end;
    justify-content: row;
    border-radius: 15px;
}

.home-link li{
    padding: 10px;
    

}
.TvShowcontainer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 25px;

}
.review-title h1{
    display:flex;
    justify-content: left;
    justify-items: left;
    margin-top: 10px;
    margin-bottom: 40px;
}

.review-title{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    margin-bottom: 100px;
}
figure figcaption{
    bottom: .4rem;
    padding-left: 15rem;
    position: relative;
    width: 100%;
}
