
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
html{
    color:var(--fourth-color);
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color: #2B2D42;
    --secondary-color: #D90429;
    --tertiary-color: #8D99AE;
    --fourth-color: #EDF2F4;
    --fifth-color: #EF233C;
}
.genre-page{
    background-image: url("/Images/comedy.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.tvshow-page{
    background-image: url("/Images/The-Office.jpg");
    background-position:center;
    background-size: 100vh;
}
.main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.089) ,rgba(0, 0, 0, 0.884)),  url("/Images/tv-series.jpg");
    background-position: center;
    background-size: cover;
    height: auto;
}
a{
    color: var(--fourth-color);
}
.home-link{
    color: var(--fourth-color);
}
a:hover{
    color: #2B2D42; 
}
img:hover{
    opacity: .7;
}
img{
    outline: auto;
}
.title{
    text-decoration: underline;
    font-size: 40px;
}
.container{
    color: var(--fourth-color);
    background-color:  #8d99ae98;
    height: 100vh;
    max-width: auto;
    border-radius: 25px;
}
.genrecontainer{
    color: var(--fourth-color);
    height: 100vh;
    max-width: auto;
    border-radius: 25px;
}
.Bad-Hashtag-page{
   
    background-image: url(/Images/tv-series.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.Bad-Hashtag-page body{
    background-color: var(--primary-color);
    height: 100vh;
    opacity: .90;
}
.Good-Hashtag-page{
    background-image: url(/Images/tv-series.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.Good-Hashtag-page body{
    background-color: var(--primary-color);
    height: 100vh;
    opacity: .90;
}
.Bad-Hashtag-page .title{
    text-align: center;
}
.Good-Hashtag-page .title{
    text-align: center;
}
.Bad-Hashtag-page main li  {
    list-style-type: disc;
    font-size: 25px;
    text-decoration: white;
}
.Good-Hashtag-page main li  {
    list-style-type: disc;
    font-size: 25px;
    text-decoration: white;
}
ul {
    list-style-type: none;
}
.review-title{
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}
.TvShowcontainer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 25px;
}