
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
html{
    color:var(--fourth-color);
    font-family: 'Roboto', sans-serif;
}
:root{
    --primary-color: #2B2D42;
    --secondary-color: #D90429;
    --tertiary-color: #8D99AE;
    --fourth-color: #EDF2F4;
    --fifth-color: #EF233C;
}
.genre-page{
    background-image: url("/Images/comedy.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.tv-show-page {
    background-image: url("/Images/The-Office.jpg");
    background-size: cover;
}


.main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.089) ,rgba(0, 0, 0, 0.884)),  url("/Images/tv-series.jpg");
    background-position: center;
    background-size: cover;
    height: auto;
}
a{
    color: var(--fourth-color);
}
.home-link{
    color: var(--fourth-color);
}
a:hover{
    color: #2B2D42; 
}
img:hover{
    opacity: .7;
}
img{
    outline: auto;
}
.title{
    text-decoration: underline;
    font-size: 40px;
}
.container{
    color: var(--fourth-color);
    background-color:  #8d99ae98;
    height: 120vh;
    max-width: auto;
    border-radius: 25px;
}
.genrecontainer{
    color: var(--fourth-color);
    height: 120vh;
    max-width: auto;
    border-radius: 25px;
}
ul {
    list-style-type: none;
}
.review-title{
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}
.TvShowcontainer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 25px;
    height: 75vh;
}
.review-title h1{
    text-decoration: underline;
}
.hashtag-page{
    background-image: url(/Images/tv-series.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.dropbtn {
    background-color: #D90429;
    color: white;
    padding: 8px;
    font-size: 30px;
    border: none;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0a0a0a7e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    text-decoration: none;
    color: white;
    padding: 6px 8px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
    background-color: #8a071d8c;
}

