<!DOCTYPE html>
<html class="Comedypage"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedy</title>
    <link rel = "stylesheet" href="/style.css">
    <link rel = "stylesheet" href="/layout.css">
</head>
<body class="comedy-page">
<nav class="home-link">
    <ul>
        <li><a href="./index.html"><h1>Home</h1></a></li>
        <li><a href="./horror.html"><h1>Horror</h1></a></li>
    </ul>
</nav>
<header class="title"><h1>Comedy</h1></header>
<main class="genrecontainer">
    <ul class="movie-titles">
        <li th:each="review : ${genre.reviews}" class="genre-reviews">
            <a th:text="${genre.id}" class="genre-reviews-link"
               th:href="'reviews/' +${review.id}"> </a></li>

    </ul>
</main>
</body>
</html>
<!--<img th:src="${genre.imageUrl}"-->
<!--            height="800" width="500"alt="comedy icon">-->