<!DOCTYPE html>
<html class="genre-page" th:style ="'background:url(' + ${genre.imageUrl} + ');'"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${genre.name}" ></title>
    <link rel = "stylesheet" href="/style.css">
    <link rel = "stylesheet" href="/layout.css">
</head>

<body>
<header class="review-title">
    <h1 th:text="${genre.name}" ></h1>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">

            <a th:href="'/home'"><h3>Home</h3></a>
            <a th:href="'/genre/2'"><h3>Comedy</h3></a>
            <a th:href="'/genre/1'"><h3>Horror</h3></a>
            <a th:href="'/genre/3'"><h3>Drama</h3></a>
            <a th:href="'/genre/4'"><h3>Action & Adventure</h3></a>
            <a th:href="'/genre/5'"><h3>Animation</h3></a>
            <a th:href="'/genre/6'"><h3>Documentary</h3></a>
            <a th:href="'/hashtags/'"><h3>Hashtags</h3></a>

        </div>
    </div>
</header>
<main class="genrecontainer">
    <ul class="tvshow-titles">
        <li th:each="review : ${genre.reviews}" class="genre-reviews">
            <a th:href="'reviews/' +${review.id}" class="genre-reviews-link">
                <img th:src="${review.imageReviewUrl}"
                 height="800" width="500"alt="tvshow icon">
            </a>
            <strong>
                <p th:text="${review.title}"></p>
            </strong>

        </li>

    </ul>
</main>
</body>
</html>
