<!DOCTYPE html>
<html class="hashtag-page"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${hashtags.name}" ></title>
    <link rel = "stylesheet" href="/style.css">
    <link rel = "stylesheet" href="/layout.css">
</head>

<body>
<header class="review-title">
    <h1 th:text="${hashtags.name}">Hashtags</h1>
    <nav class="home-link">
        <ul>
            <li><a th:href="'/home'"><h2>Home</h2></a></li>
            <li><a th:href="'/genre/2'"><h2>Comedy</h2></a></li>
            <li><a th:href="'/genre/1'"><h2>Horror</h2></a></li>
            <li><a th:href="'/hashtags/7'"><h2>Hashtags</h2></a></li>

        </ul>
    </nav>
</header>
<main class="genrecontainer">
    <ul class="TvShowcontainer">
        <li th:each="hashtag : ${hashtags.name}" class="genre-reviews">
            <strong>
                <p th:text="${hashtags.getTvShowReviews()}"></p>
            </strong>

        </li>

    </ul>
</main>
</body>
</html>
