<!DOCTYPE html>
<html class="tvshow-page" th:style ="'background:url(' + ${TvShowReviews.imageReviewUrl} + ');'"
        xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel = "stylesheet" href="/style.css">
    <link rel = "stylesheet" href="/layout.css">
    <title th:text="${TvShowReviews.title}" ></title>
</head>
<body>
<header class="review-title">
    <h1 th:text="${TvShowReviews.title}" ></h1>
    <nav class="home-link">
        <ul>
            <li><a th:href="'/home'"><h2>Home</h2></a></li>
            <li><a th:href="'/genre/2'"><h2>Comedy</h2></a></li>
            <li><a th:href="'/genre/1'"><h2>Horror</h2></a></li>
            <li><a th:href="'/hashtags/'"><h2>Hashtags</h2></a></li>
        </ul>
    </nav>
</header>
<main class="TvShowcontainer">
    <h1 th:each="review:${TvShowReviews}" class="title"></h1>
    <h2 >Show date</h2>
    <p th:text="${TvShowReviews.showDate}" class="Show-date">July 15, 2016</p>
    <h2 >Number of seasons</h2>
    <p th:text="${TvShowReviews.numberOfSeasons}" class="Number-of-seasons">3 seasons- current</p>
    <h2 >Description of show</h2>
    <p th:text="${TvShowReviews.descriptionOfShow}" class="Description-of-show">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Fuga, ex cumque libero aspernatur ullam vitae, dicta aperiam laboriosam laborum dolor itaque,
        ipsa eaque ipsam laudantium? Beatae mollitia aut perferendis porro!</p>
    <h2 >Review </h2>
    <p th:text="${TvShowReviews.review}" class="Review">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptas omnis ipsam vel voluptatem sapiente vero excepturi ipsum deserunt voluptate exercitationem,
        obcaecati illum ipsa dignissimos quas consequatur aliquam eligendi cupiditate commodi.</p>
        <section class="hashtag">
        <h2 class="hashtags__header">Hashtags:</h2>
        <ul class="hashtags-list" > 

            <li th:each="hashtag:${TvShowReviews.hashtags}" class="hashtags-hashtag">
                <a th:href="'/hashtags/'+${hashtag.id}" th:text="${hashtag.name}"></a>
            </li>
        </ul>
        <form th:action="'/genre/hashtags/'+${TvShowReviews.id}" method="post">
            <input type="text" name="hashtagName">
            <button type="submit"> Submit New Hashtag </button>
        </form>
    </section>


</main>
</body>
</html>